/* Estilos básicos */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #121212; /* Fundo escuro */
    color: #e0e0e0; /* Texto claro para legibilidade */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #1e1e1e; /* Cor de fundo do container um pouco mais clara */
    padding: 20px 40px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    max-width: 500px;
    width: 100%;
    text-align: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.language-selector {
    position: absolute;
    top: 10px;
    right: 10px;
}

.language-selector label {
    margin-right: 8px;
    font-weight: bold;
    color: #e0e0e0;
}

.language-selector select {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #444;
    font-size: 14px;
    background-color: #333; /* Fundo escuro para o dropdown */
    color: #e0e0e0;
}

h2 {
    color: #ffffff;
    margin-bottom: 20px;
}

.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tab-button {
    background-color: #333;
    color: #e0e0e0;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin: 0 5px;
    border-radius: 5px 5px 0 0;
}

.tab-button.active {
    background-color: #4CAF50;
    color: white;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

label {
    display: block;
    text-align: left;
    margin: 15px 0 5px;
    color: #e0e0e0;
    font-weight: bold;
}

input[type="file"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #555;
    border-radius: 4px;
    background-color: #333; /* Fundo escuro para campos de entrada */
    color: #e0e0e0;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    margin-top: 15px;
}

button:hover {
    background-color: #45a049;
}

#error,
#result {
    margin-top: 20px;
}

.success {
    color: #4CAF50;
    text-align: center;
}

.error {
    color: #ff5252;
    text-align: center;
}

.download-button {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
    text-decoration: none;
}

.download-button:hover {
    background-color: #45a049;
}
